---
---
//---------------------------
//
// # Main style
// This style applies to the home page and to all posts.
//
//---------------------------

@import 'modules/_all';
@import 'partials/_all';

span.date {
  margin-top: .5em;
  font-size: .9em;
}

code {
  font-weight: 900;
}

header.hero nav a {
  background-color: rgba(0, 0, 0, 0.4);
}

#notes-entry-container h2 {
  color: #703a3a;
}
