---
layout: default
---
<h3 style="font-family: 'Oswald',sans-serif; margin-bottom: 0px; margin-top: 0px">Blog Offerings</h3>
<h1 style="font-size:3.5em; font-family: 'Oswald',sans-serif; line-height: 100%; margin-top: 0em;">Tutorials, Guides and other Miscellany</h1>
{% for post in site.posts %}
    <article class="post">
        <header>
            <a href="{{ post.url }}">
                <h1>{{ post.title }}</h1>
            </a>
		{% include date.html date=post.date %}&nbsp;&nbsp;{% include update_date.html prefix="Updated: " date=post.updated %}
	</header>
        </header>
        {{ post.excerpt }}
        <a href="{{ post.url }}">Read more</a>
    </article>
{% endfor %}
