---
layout: default
---

<h1 style="font-size:3.5em; font-family: 'Oswald',sans-serif">Tutorials and Guides</h1>
{% for post in site.posts %}
    <article class="post">
        <header>
            <a href="{{ post.url }}">
                <h1>{{ post.title }}</h1>
            </a>
		{% include date.html date=post.date %}&nbsp;&nbsp;{% include update_date.html prefix="Updated: " date=post.updated %}
	</header>
        </header>
        {{ post.excerpt }}
        <a href="{{ post.url }}">Read more</a>
    </article>
{% endfor %}
